{% extends 'base.html' %}
{% block content %}
{% for cat, msg in get_flashed_messages(True) %}
<div class="flash {{cat}}">{{msg}}</div>
{% endfor %}
<form action="" method="post" class="form registration">
    <input type="email" name="email" class="email-input">
    <input type="password" name="password" class="pass-input">
    <button type="submit" class="submit-btn">
        login
    </button>
</form>
<script>
    const email = document.getElementsByClassName("email-input")[0]
    const pass = document.getElementsByClassName("pass-input")[0]
    const submit = document.getElementsByClassName("submit-btn")[0]


    submit.addEventListener("submit", async () => {
        console.log(email.value)
        await fetch("https://localhost:8080/", {
            method: "POST",
            headers: {},
            body: {
                email: email.value,
                pass: pass.value,
            }
        })
            .then((res) => {
                console.log(res.json(), res.text())
            })
    })
</script>
<style>

    .form.registration {
        height: 100vh;
        justify-content: center;
        margin: 0 auto;
        display: flex;
        align-items: center;
    }

    .flash {
        padding: 10px;
    }

    .flash.success {
        border: 1px solid #21DB56;
        background: #AEFFC5;
    }

    .flash.error {
        border: 1px solid #FF4343;
        background: #FF9C9C;
    }
</style>

{% endblock %}