{% extends 'base.html' %}
{% block content %}
<!--{{ super() }}-->
<div>
    <a href="/login/" class="start-link">
        start
    </a>
</div>
<style>
    body {
        height: 100vh;
        justify-content: center;
        margin: 0 auto;
        display: flex;
        align-items: center;
    }

    .start-link {
        padding: 30px 120px;
        border: 6px solid #beeeee;
        background-color: #1de8db;
        border-radius: 10px;
        text-decoration: none;
        color: black;
        transition: all .2s linear;
        font-size: 32pt;
        font-family: monospace ;
    }

    .start-link:hover{
        background-color: #348d8a;
    }
</style>
{% endblock %}